In [66]:
import pandas as pd
#city_pop = pd.read_csv("sub-est2021_all.csv",encoding='latin-1')
#city_land = pd.read_csv("2020_Gaz_place_national.txt",sep = "\t",encoding='latin-1')
#age_sex = pd.read_csv("Age_and_Sex_2021-Data.csv",encoding='latin-1')
#education = pd.read_csv("Education_2021-Data.csv",encoding='latin-1')
#housing = pd.read_csv("Housing_2021-Data.csv",encoding='latin-1')
#race = pd.read_csv("Race_2020.p1-Data.csv",encoding='latin-1')

#state_codes = pd.read_csv("state_codes.csv")

In [152]:
city_pop = pd.read_csv("sub-est2021_all.csv",encoding='latin-1')
state_codes = pd.read_csv("state_codes.csv")

city_pop = city_pop[["NAME", "STNAME","POPESTIMATE2021"]]
city_only = [i.lower().__contains__("city") for i in city_pop["NAME"]] 
city_pop = city_pop[city_only]
city_pop = city_pop[city_pop["POPESTIMATE2021"]>=50000]
city_pop = city_pop.set_axis(['city', 'state', 'pop_estimate_2021'], axis='columns', copy = False)
city_pop["city"] = [i.replace(" city","") for i in city_pop["city"]]
city_pop["city"] = [i.replace(" City","") for i in city_pop["city"]]
city_pop["city"] = [i.replace(" (pt.)","") for i in city_pop["city"]]
state_codes = state_codes[["state","code"]].set_axis(['state', 'state_code'], axis='columns', copy = False)
city_pop = pd.merge(city_pop,state_codes, on = "state", how = "left")
city_pop["city_state"] = city_pop["city"] + ", " + city_pop["state"]
city_pop["city_state_code"] = city_pop["city"] + ", " + city_pop["state_code"]
city_pop

,city,state,pop_estimate_2021,state_code,city_state,city_state_code
0,Auburn,Alabama,78564,AL,"Auburn, Alabama","Auburn, AL"
1,Birmingham,Alabama,197575,AL,"Birmingham, Alabama","Birmingham, AL"
2,Decatur,Alabama,57804,AL,"Decatur, Alabama","Decatur, AL"
3,Dothan,Alabama,71175,AL,"Dothan, Alabama","Dothan, AL"
4,Hoover,Alabama,92589,AL,"Hoover, Alabama","Hoover, AL"
...,...,...,...,...,...,...
1871,Oshkosh,Wisconsin,66607,WI,"Oshkosh, Wisconsin","Oshkosh, WI"
1872,Casper,Wyoming,58656,WY,"Casper, Wyoming","Casper, WY"
1873,Cheyenne,Wyoming,65051,WY,"Cheyenne, Wyoming","Cheyenne, WY"
1874,Cheyenne,Wyoming,65051,WY,"Cheyenne, Wyoming","Cheyenne, WY"
1875,Casper,Wyoming,58656,WY,"Casper, Wyoming","Casper, WY"

In [158]:
city_land = pd.read_csv("2020_Gaz_place_national.txt",sep = "\t",encoding='latin-1')
state_codes = pd.read_csv("state_codes.csv")

city_only = [i.lower().__contains__("city") for i in city_land["NAME"]]
city_land= city_land[city_only]
test = city_land[["USPS","NAME","ALAND"]].set_axis(['state_code', 'city', 'land_area_sqm'], axis='columns', copy = False)

city_land = pd.merge(test,state_codes[["state","code"]], left_on = "state_code", right_on = "code", how = "left")
city_land["city"] = [i.replace(" city","") for i in city_land["city"]]
city_land["city"] = [i.replace(" City","") for i in city_land["city"]]

del city_land["code"]
city_land["city_state"] = city_land["city"] + ", " + city_land["state"]
city_land["city_state_code"] = city_land["city"] + ", " + city_land["state_code"]
city_land["land_area_sqkm"] = city_land["land_area_sqm"]*0.000001
city_land

,state_code,city,land_area_sqm,state,city_state,city_state_code,land_area_sqkm
0,AL,Abbeville,40255362,Alabama,"Abbeville, Alabama","Abbeville, AL",40.255362
1,AL,Adamsville,67895675,Alabama,"Adamsville, Alabama","Adamsville, AL",67.895675
2,AL,Alabaster,65472841,Alabama,"Alabaster, Alabama","Alabaster, AL",65.472841
3,AL,Albertville,69770754,Alabama,"Albertville, Alabama","Albertville, AL",69.770754
4,AL,Alexander,113186307,Alabama,"Alexander, Alabama","Alexander, AL",113.186307
...,...,...,...,...,...,...,...
10507,WY,Riverton,26780417,Wyoming,"Riverton, Wyoming","Riverton, WY",26.780417
10508,WY,Rock Springs,51160520,Wyoming,"Rock Springs, Wyoming","Rock Springs, WY",51.160520
10509,WY,Sheridan,32850653,Wyoming,"Sheridan, Wyoming","Sheridan, WY",32.850653
10510,WY,Torrington,9644842,Wyoming,"Torrington, Wyoming","Torrington, WY",9.644842
10511,WY,Worland,11882743,Wyoming,"Worland, Wyoming","Worland, WY",11.882743

In [336]:
walking_data = pd.merge(city_pop,city_land[["city_state","land_area_sqkm"]], on = "city_state", how = "left")
walking_data["pop_estimate_2021"]
walking_data["pop_per_km2"] = walking_data["pop_estimate_2021"]/walking_data["land_area_sqkm"]
walking_data = walking_data.drop_duplicates()
walking_data
# walking_data.to_csv("walkable-cities.csv", index = False)

,city,state,pop_estimate_2021,state_code,city_state,city_state_code,land_area_sqkm,pop_per_km2
0,Auburn,Alabama,78564,AL,"Auburn, Alabama","Auburn, AL",157.084761,500.137630
1,Birmingham,Alabama,197575,AL,"Birmingham, Alabama","Birmingham, AL",380.801025,518.840515
2,Decatur,Alabama,57804,AL,"Decatur, Alabama","Decatur, AL",140.785624,410.581694
3,Dothan,Alabama,71175,AL,"Dothan, Alabama","Dothan, AL",232.650562,305.930918
4,Hoover,Alabama,92589,AL,"Hoover, Alabama","Hoover, AL",124.490626,743.742746
...,...,...,...,...,...,...,...,...
1835,West Allis,Wisconsin,59484,WI,"West Allis, Wisconsin","West Allis, WI",29.477371,2017.954722
1842,Eau Claire,Wisconsin,67240,WI,"Eau Claire, Wisconsin","Eau Claire, WI",85.102803,790.103235
1857,Appleton,Wisconsin,62343,WI,"Appleton, Wisconsin","Appleton, WI",64.203007,971.029285
1872,Casper,Wyoming,58656,WY,"Casper, Wyoming","Casper, WY",68.757037,853.090863
1873,Cheyenne,Wyoming,65051,WY,"Cheyenne, Wyoming","Cheyenne, WY",83.549538,778.591977

In [338]:
walkable_cities = pd.read_csv("walkable-cities.csv")
walkable_cities

,city,state,pop_estimate_2021,state_code,city_state,city_state_code,land_area_sqkm,pop_per_km2,under_5_years,5_to_9_years,...,50_to_54_years,55_to_59_years,60_to_64_years,65_to_69_years,70_to_74_years,75_to_79_years,80_to_84_years,85_years_and_over,male,female
0,Auburn,Alabama,78564,AL,"Auburn, Alabama","Auburn, AL",157.084761,500.137630,4501,3784,...,3108,3030,3107,2847,2489,2511,594,534,37961,40591
1,Birmingham,Alabama,197575,AL,"Birmingham, Alabama","Birmingham, AL",380.801025,518.840515,9603,10905,...,10264,10336,13019,13470,8671,4777,3161,3415,94696,101714
2,Dothan,Alabama,71175,AL,"Dothan, Alabama","Dothan, AL",232.650562,305.930918,4334,4134,...,4581,4316,4973,3733,4326,2263,1620,1637,33706,37577
3,Hoover,Alabama,92589,AL,"Hoover, Alabama","Hoover, AL",124.490626,743.742746,5874,6797,...,5046,5454,5982,3585,3833,2536,2917,1948,46671,45917
4,Huntsville,Alabama,216963,AL,"Huntsville, Alabama","Huntsville, AL",564.925108,384.056217,12628,12071,...,11404,15336,12994,10896,9915,7175,3369,4924,106904,108578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,Racine,Wisconsin,77127,WI,"Racine, Wisconsin","Racine, WI",40.080067,1924.323130,4632,5553,...,3968,3564,4923,3004,3061,2039,950,945,36786,40345
672,Waukesha,Wisconsin,71256,WI,"Waukesha, Wisconsin","Waukesha, WI",66.102904,1077.955667,3879,2841,...,3844,5355,4569,3843,2593,1684,1385,1419,34392,36862
673,Eau Claire,Wisconsin,67240,WI,"Eau Claire, Wisconsin","Eau Claire, WI",85.102803,790.103235,4024,3195,...,3274,3433,3871,3068,2837,1268,839,1276,33286,35910
674,Appleton,Wisconsin,62343,WI,"Appleton, Wisconsin","Appleton, WI",64.203007,971.029285,4491,5589,...,4329,4526,5009,3354,3837,1613,1382,1057,36492,36459
675,Cheyenne,Wyoming,65051,WY,"Cheyenne, Wyoming","Cheyenne, WY",83.549538,778.591977,3480,3692,...,5296,4212,3290,3418,3021,1852,1041,1505,31310,33738

In [337]:
age_sex_columns = pd.read_csv("Age_and_Sex_2021-Column-Metadata.csv",encoding='latin-1')
age_sex = pd.read_csv("Age_and_Sex_2021-Data.csv",encoding='latin-1')
del_moe = [not i.__contains__("Margin of Error") for i in age_sex_columns["Label"]]
age_sex_columns = age_sex_columns[del_moe]
del_ann = [not i.__contains__("A") for i in age_sex_columns["Column Name"]]
age_sex_columns = age_sex_columns[del_ann]
age_label = [i.split("!!")[-1] for i in age_sex_columns["Label"].iloc[2:20]]
age_label = [i.lower().replace(" ","_") for i in age_label]
age_label
age_col = age_sex_columns["Column Name"].iloc[2:20]
age_col
sex_col = ["S0101_C03_001E","S0101_C05_001E"] 
sex_label = ["male","female"]


city_only = [i.lower().__contains__("city") for i in age_sex["NAME"]]
age_sex= age_sex[city_only]
age_sex["city_state"] = [i.replace(" city","") for i in age_sex["NAME"]]
age_sex["city_state"] = [i.replace(" City","") for i in age_sex["city_state"]]

age = age_sex[age_col].set_axis(age_label, axis='columns', copy = False)
age["city_state"] = age_sex["city_state"]
age

sex = age_sex[sex_col].set_axis(sex_label, axis='columns', copy = False)
sex["city_state"] = age_sex["city_state"]
sex

walking_data = pd.merge(walking_data, age, on = "city_state", how = "left")
walking_data = pd.merge(walking_data, sex, on = "city_state", how = "left")
walking_data = walking_data.dropna()
walking_data
# walking_data.to_csv("walkable-cities.csv", index = False)